{% extends "account/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 重置密码 {% endblock %}

{% block content %}
	<div class="section">
    <div class="section-title">
      <b>{{settings.SITE_NAME}}</b> › 重置密码
    </div>
    <div class="section-content">
      <form  class="form" action="{% url 'send-code' %}" method="post">
          {% csrf_token %}
          {% for field in form%}
            <div class="form-group">
              <label for="{{field.name}}">{{field.label}}</label>
              {{field}}
              {{field.errors}}
            </div>
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn">提交</button>
          </div>
          <div class="form-group">
            <p>
              <a href="{% url 'register' %}">注册</a>
              &nbsp;
              &nbsp;
              <a href="{% url 'login' %}">登陆</a>
            </p>
          </div>
      </form>
    </div>
	</div>
{% endblock %}
