<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{settings.SITE_NAME}}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/app.css">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="wrap">
  <div class="header">
    <div class="container">
      <a class="logo" href="/dashboard/">{{settings.SITE_NAME}}</a>
      <div class="nav">
        {% if user.is_authenticated %}
          <a href="/dashboard/buy/">套餐</a>
          <a href="/dashboard/">控制面板</a>
          <a href="/dashboard/info/">{{request.user.username}}</a>
          <a href="/account/logout/">退出</a>
        {% else %}
          <a href="/account/login/">登陆</a>
          <a href="/account/register/">注册</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    </div>
  </div>
  
  <div class="footer">
    <div class="container">
      <p>

      </p>
    </div>
  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block foot %}
{% endblock %}
</body>
</html>
