{% extends "base/layout.html" %}
{% load i18n %}

{% block title %}{{settings.SITE_NAME}} › {% trans "Bill" %}{% endblock %}

{% block content %}
  <div class="heading">
    <h2>{% trans "Bill" %}</h2>
  </div>
  <div class="section">
    <h3>{% trans "Balance" %}: {{request.user.balance}}</h3>
    <table class="table">
      <thead>
        <th>{% trans "Trade Number" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Price" %}</th>
        <th>{% trans "Info" %}</th>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr>
          <td>{{bill.trade_no}}</td>
          <td>{{bill.create_at|date:'Y-m-d'}}</td>
          <td >
            {% if not bill.status %}
              <span style="color:red">-{{bill.price}}RMB</span>
            {% else %}
            <span style="color:green">+{{bill.price}}RMB</span>
            {% endif %}
          </td>
          <td>
            {% if request.LANGUAGE_CODE == "zh-hans"%}
            {{bill.info_cn}}
            {% else %}
            {{bill.info}}
            {% endif %}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}

