{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 账单{% endblock %}

{% block content %}
  <div class="heading">
    <h2>账单</h2>
  </div>
  <div class="section">
    <h3>余额: {{request.user.balance}}RMB</h3>
    <table class="table">
      <thead>
        <th>交易单号</th>
        <th>交易日期</th>
        <th>价格</th>
        <th>信息</th>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr>
          <td>{{bill.trade_no}}</td>
          <td>{{bill.create_at|date:'Y-m-d H:i:s'}}</td>
          <td >
            {% if not bill.status %}
              <span style="color:red">-{{bill.price}}RMB</span>
            {% else %}
            <span style="color:green">+{{bill.price}}RMB</span>
            {% endif %}
          </td>
          <td>
            {{bill.info}}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}

