{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 购买服务{% endblock %}

{% block content %}
  <div class="heading">
    <h2>购买服务</h2>
  </div>
  <div class="section">
    <h2>余额: {{request.user.balance}}RMB</h2>
    <div class="cards">
    {% for service in service_list %}
        <div class="card">
          <h2>
            {{service.title}}
          </h2>
          <p>
            {{service.description}}
          </p>
          <p>价格:<b class="price">{{service.price}}</b>"RMB"
          </p>
          <p ><a href="/dashboard/confirm/?sid={{service.id}}" class="btn primary">立刻购买</a></p>
        </div>
    {% endfor%}
    </div>
  </div>
{% endblock %}

