{% extends "base/layout.html" %}
{% load i18n %}

{% block title %}{{settings.SITE_NAME}} › {% trans "Change UUID" %} {% endblock %}

{% block content %}
<div class="heading">
  <h2> {% trans "Change UUID" %} </h2>
</div>
<div class="section">
  <h4>{% trans "UUID:"%}{{order.uuid}}</h4>
  <p>{% trans "Are you sure you want to change UUID"%}</p>
  <form class="form normal" action="/dashboard/change_uuid/{{order.id}}/" method="post">
      {% csrf_token %}
      <input type="hidden" name="change" value="1"/>
      <div class="form-group">
        <a  class="btn" href="/dashboard/order/{{order.id}}">{% trans "Cancel"%}</a>
        <button type="submit" class="btn primary"> {% trans "Submit" %}  </button>
      </div>
  </form>
</div>


{% endblock %}

