{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 客户端下载{% endblock %}

{% block content %}

<div class="heading">
  <h2>客户端下载</h2>
  <p>推荐使用以下客户端，并不代表其他客户端不好用</p>
</div>

<div class="section">
  <h2>Windows</h2>
  <p>V2RayN 是一个基于 V2Ray 内核的 Windows 客户端。</p>
  <p>Download: <a href="https://github.com/2dust/v2rayN">Github</a></p>

  <h2>Mac OS X</h2>
  <p>V2rayU,基于v2ray核心的mac版客户端,用于科学上网,使用swift编写,支持vmess,shadowsocks,socks5等服务协议,支持订阅, 支持二维码,剪贴板导入,手动配置,二维码分享等</p>
  <p>Download: <a href="https://github.com/yanue/V2rayU">Github</a></p>

  <h2>iPhone iOS</h2>
  <p>Shadowrocket 是一个通用的 iOS VPN 应用，它支持众多协议，如 Shadowsocks、VMess、SSR 等。</p>
  <p>由于国服被删，需要去美服下载，价格2.99刀</p>
  <p>Download: <a href="https://apps.apple.com/us/app/shadowrocket/id932747118">App Store</a></p>


  <h2>Android</h2>
  <p>BifrostV 是一个基于 V2Ray 内核的 Android 应用，它支持 VMess、Shadowsocks、Socks 协议。</p>
  <p>可以在Play store 搜索下载或者点击链接直接下载apk</p>
  <p>Download: <a href="https://apkpure.com/bifrostv/com.github.dawndiy.bifrostv">BifrostV</a> | <a href="https://play.google.com/store/apps/details?id=com.github.dawndiy.bifrostv" target="_blank">Play Store</a></p>

</div>
{% endblock %}

