{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 控制面板{% endblock %}

{% block content %}
  <div class="section">
    <div class="announcement">
      <h3>{{ann.title}}</h3>
      <p>{{ann.content}}</p>
      <p><a href="/dashboard/announcement/">更多公告</a></p>
    </div>
  </div>

  <div class="section">

    <div class="more-right">
      <a  class="btn small primary" href="/dashboard/buy/">购买服务</a>
    </div>
    <h3>我的服务</h3>
    <table class="table">
      <thead>
        <th>状态</th>
        <th>备注名</th>
        <th>有效期</th>
        <th>套餐</th>
        <th>操作</th>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td >
            {% if order.status == 0 %}
              <span style="color:red">停止<span>
            {% else %}
              <span style="color:green">运行中<span>
            {% endif %}
          </td>
          <td>{{order.remark}}</td>
          <td>{{order.create_at|date:'Y.m.d'}}~{{order.expired_at|date:'Y.m.d'}}</td>
          <td>{{order.service.title}}</td>
          <td><a href="/dashboard/order/{{order.id}}/" class="btn small">管理</a></td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <div class="more"><a  class="btn small" href="/dashboard/my_service/">全部服务</a></div>
  </div>
  
  <div class="section">
    <div class="more-right">
      <a  class="btn small primary" href="/dashboard/add_invite/" >创建邀请码</a>
    </div>
    <h3>邀请</h3>
    <h2>邀请码:{{inv.text}}</h2>
    <p>剩余{{inv.times}}次 | 过期时间为{{inv.expired|date:"Y-d-m"}}</p>
    <br/>

    <h4>邀请记录</h4>
    <table class="table">
      <thead>
        <th>日期</th>
        <th>邀请对象邮箱</th>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.date_joined|date:'Y.m.d'}}</td>
          <td>{{user.email}}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <div class="more">
      <a class="btn small" href="/dashboard/invite_history/">全部邀请记录</a>
    </div>
  </div>

  <div class="section">
    <h3>客户端下载</h3>
    <p>Windows:<a href="https://github.com/2dust/v2rayN">v2rayN</a></p>
    <p>Mac:<a href="https://github.com/yanue/V2rayU">v2rayU</a></p>
    <p>iOS:<a href="https://apps.apple.com/us/app/shadowrocket/id932747118">App Store</a></p>
    <p>Android:<a href="https://apkpure.com/bifrostv/com.github.dawndiy.bifrostv">BifrostV</a></p>
    <div class="more">
      <a class="btn small" href="/dashboard/download/">了解更多</a>
    </div>
  </div>

{% endblock %}

