{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › {{user.username}}{% endblock %}

{% block content %}
  <div class="section">
    <h3>用户档案</h3>
    <p>{{user.username}}</p>
    <p>加入日期: {{user.date_joined|date:"Y-d-m"}}</p>
  </div>
  <div class="section">
    <div class="more-right">
      <a  class="btn small primary" href="/dashboard/pay/" >充值</a>
    </div>
    <h3>余额</h3>
    <p>{{user.balance}}RMB</p>
    <p>
      <a href="/dashboard/add_invite/"> 试试我们的邀请计划，帮助更多热爱生活的朋友 </a>
    </p>
  </div>
 
  
  <div class="section">
    <div class="more-right">
      <a  class="btn small" href="/account/change_email/" >修改邮箱</a>
    </div>
    <h3>邮箱</h3>
    <p>{{user.email}} </p>
  </div>

  <div class="section">
    <div class="more-right">
      <a  class="btn small" href="/account/change_password/" >修改密码</a>
    </div>
    <h3>密码</h3>
    <p>•••••••••••••</p>
  </div>

  <div class="section">
    <h3>历史账单</h3>
    <table class="table">
      <thead>
        <th>交易单号</th>
        <th>日期</th>
        <th>价格</th>
        <th>信息</th>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr>
          <td>{{bill.trade_no}}</td>
          <td>{{bill.create_at|date:'Y-m-d H:i:s'}}</td>
          <td >
            {% if not bill.status %}
              <span style="color:red">-{{bill.price}}RMB</span>
            {% else %}
            <span style="color:green">+{{bill.price}}RMB</span>
            {% endif %}
          </td>
          <td>
            {{bill.info}}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <div class="more">
      <a class="btn small" href="/dashboard/bill/">查看全部账单</a>
    </div>
  </div>



{% endblock %}

