{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 邀请记录{% endblock %}

{% block content %}
  <div class="heading">
    <h2>邀请记录</h2>
  </div>
  <div class="section">
    <h3>当你邀请的对象购买服务的时候你会得到10%收益作为奖励</h3>
    <table class="table">
      <thead>
        <th>邀请日期</th>
        <th>邀请对象的邮箱</th>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.date_joined|date:'Y.m.d'}}</td>
          <td>{{user.email}}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}

