{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 我的服务{% endblock %}

{% block content %}
  <div class="heading">
    <h2>我的服务</h2>
  </div>
  {% if not orders %}
    <h3>你还没有购买服务</h3>
    <p><a  class="btn primary" href="/dashboard/buy/">快去购买</a></p>
  {% else %}
  <div class="section">
    <table class="table">
      <thead>
        <th>状态</th>
        <th>备注名</th>
        <th>有效期</th>
        <th>套餐类型</th>
        <th>操作</th>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td >
            {% if order.status == 0 %}
              <span style="color:red">停止<span>
            {% else %}
              <span style="color:green">运行中<span>
            {% endif %}
          </td>
          <td>{{order.remark}}</td>
          <td>{{order.create_at|date:'Y.m.d'}}~{{order.expired_at|date:'Y.m.d'}}</td>
          <td>{{order.service.title}}</td>
          <td><a href="/dashboard/order/{{order.id}}/" class="btn small">管理</a></td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}

