{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 支付{% endblock %}

{% block content %}
  <div class="heading">
    <h2>充值</h2>
  </div>
  <div class="section">
    <h2>账户余额:{{request.user.balance}}RMB</h2>
    <h4>选择支付方式</h4>
    <p><a class="btn primary" href="/dashboard/pay/alipay/">支付宝</a></p>
    <p><a class="btn primary" href="/dashboard/pay/code/">充值码</a></p>
  </div>
  <div class="section">
    <h3>历史账单</h3>
    <table class="table">
      <thead>
        <th>交易单号</th>
        <th>日期</th>
        <th>价格</th>
        <th>信息</th>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr>
          <td>{{bill.trade_no}}</td>
          <td>{{bill.create_at|date:'Y-m-d'}}</td>
          <td >
            {% if not bill.status %}
              <span style="color:red">-{{bill.price}}RMB</span>
            {% else %}
            <span style="color:green">+{{bill.price}}RMB</span>
            {% endif %}
          </td>
          <td>
            {{bill.info}}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <div class="more">
      <a class="btn small" href="/dashboard/bill/">查看全部账单</a>
    </div>
  </div>


  </div>
{% endblock %}

