{% extends "base/layout.html" %}

{% block title %}{{settings.SITE_NAME}} › 支付{% endblock %}

{% block content %}
  <div class="heading">
    {% if order.payment == 0 %}
    <h2>支付宝扫码支付</h2>
    {% else %}
    <h2>屁股支付</h2>
    {% endif %}
  </div>
  <div class="section">
    {% if order.payment == 0 %}
      {{order.qrcode}}
    {% else %}
    <p> 请在支付时候备注订单号:<b class="price">{{order.id}}</b></p>
    {% endif %}
  </div>
  <div class="section">
    <h4>支付信息</h4>
    <p>{{order.service.title}}</p>
    <p>{{order.service.description}}</p>
    <p>价格:{{order.service.price}} 年付</p>
  </div>


  </div>
{% endblock %}

